body
{
    margin: 0;
    padding: 0;
    background-color: #323232;
    color: #fff;
}

.wrapper
{
    position: relative;
    width: 80%;
    height: 50vh;
    border: 2px solid #fff;
    margin: 10vh auto 0 auto;
}

.keyboard
{
    position: absolute;
    width: 37%;
    /* height: 65%; */
    /* border: 2px solid #fff; */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* overflow: hidden; */
}

.number
{
    float: left;
    width: 45%;
    height: 5vw;
    border: 2px solid #fff;
    text-align: center;
}

.keyboard .number:hover
{
    background-color: rgb(109, 108, 116);
}

.math_operators
{
    position: absolute;
    width: 15%;
    height: 35%;
    border: 2px solid #fff;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
}

.math_operators .operator
{
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    text-align: center;
}

.math_operators .operator span
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.math_operators .operator:hover
{
    background-color: rgb(109, 108, 116);
}

.score
{
    position: absolute;
    width: 15%;
    height: 20%;
    border: 2px solid #fff;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}